  <mat-grid-list cols="4" rowHeight="400px">
    <mat-grid-tile colspan="2">
      <mat-card #calendar>
        <mat-card-title>
          Month&Year
        </mat-card-title>

        <mat-card-content>
          <mat-button-toggle-group>
            <table>
              <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
              <tr>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
                <td>
                  <mat-button-toggle>11</mat-button-toggle>
                </td>
              </tr>

            </table>
          </mat-button-toggle-group>
        </mat-card-content>

        <mat-card-actions>
          <button mat-flat-button color="primary">Add</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-card>
        Tasks
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
