.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: inline-block;
  margin: 10px;
}

.tasks {
  display: inline-block;
  margin: 10px;
}


