<mat-card id="calendar">
  <mat-card-title>
    <button mat-flat-button color="primary" id="left">Prev</button>
    {{ month + " " + currentYear }}
    <button mat-flat-button color="primary" id="right">Next</button>
  </mat-card-title>

  <mat-card-content>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="sun">
        <mat-header-cell *matHeaderCellDef> Sun </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sun}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="mon">
        <mat-header-cell *matHeaderCellDef> Mon </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mon}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tue">
        <mat-header-cell *matHeaderCellDef> Tue </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tue}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="wed">
        <mat-header-cell *matHeaderCellDef> Wed </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wed}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="thu">
        <mat-header-cell *matHeaderCellDef> Thu </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.thu}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fri">
        <mat-header-cell *matHeaderCellDef> Fri </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fri}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sat">
        <mat-header-cell *matHeaderCellDef> Sat </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sat}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>

</mat-card>
