mat-card {
  width: 350px;
}

mat-card-title {
  margin-bottom: 25px;
  text-align: center;
}

table {
  width: 100%;
}

#left {
  float: left;
  margin-left: 20px;
}

#right {
  float: right;
  margin-right: 20px;
}

