mat-card {
  width: 350px;
}

mat-card-title {
  margin-bottom: 25px;
  text-align: center;
}

table {
  width: 100%;
}

#prev {
  float: left;
  margin-left: 20px;
}

#next {
  float: right;
  margin-right: 20px;
}

#today {
  display: block;
  margin: 0 auto;
}

.mat-cell.hovered {
  background: #eee;
}

.mat-cell.highlighted {
  background: #999;
}

